[Unit]
Description=UAVcast Drone Software
After=network.target user.slice
[Service]
WorkingDirectory=/home/pi/UAVcast
Type=forking
GuessMainPID=no
ExecStart=/bin/bash DroneStart.sh start
KillMode=control-group
[Install]
WantedBy=multi-user.target
Alias=UAVcast.services
