[Unit]
Description=UAVcast Drone Software
Requires=network.target
After=network-online.target

[Service]
WorkingDirectory=/home/pi/UAVcast
Type=forking
GuessMainPID=no
ExecStart=/bin/bash DroneStart.sh start
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
