[Unit]
Description=UAVcast Drone Software
After=network.target user.slice

[Service]
Type=forking
ExecStart=/home/UAVcast/DroneStart.sh
#ExecReload=/bin/kill -HUP ""
Restart=always

[Install]
WantedBy=multi-user.target
Alias=UAVcast.services
